*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.navlinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn{
   justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}
.head2{
    display: flex;
    flex-wrap: wrap;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}
.system{
    margin-top: 40px;
}
.heading{
    width: 30%;
}
.maindiv{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.subdiv{
    width: 20%;
    margin-left: 120px;
}
.frame{
    display: flex;
    flex-wrap: wrap;  
    margin-top: 20px;
}
.frame1{
    float: left;
    margin-top: 20px;
}
.frame2{
    float: left;
    margin-top:40px;
}
