* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navlinks li a {
  color: #18191f;
  font-size: 17px;
}
.btn {
  display: flex;
  gap: 20px;
}
.login,
.Signup {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #4caf4f;
  border-radius: 12px;
  padding: 12px 20px;
  font-weight: 600;
}

.login:hover,
.Signup:hover {
  background-color: #4caf4f;
  color: white;
}
